@media screen and (min-width: 768px ){
    /*Navbar*/
    .navbar {
  &__logo {
  padding: 1rem 2rem;
  }

  &__container {
   padding: 1.25rem;
  }

  &__list {
    display: block;
    padding-top: 0;
    width: auto;
  }
  &__list-links {
    display: inline;
    padding: 0;
    margin-right: 1.5rem;
  }
}
button{
    display: none;
}
}

@media screen and (min-width: 1024px) {
  .nav{
    &__logo{
      font-size: 1.25rem;
      line-height: 1.75rem;
    }
  }
}