/*Header*/
.nav {
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  background-color: $bg-primary;
  box-shadow: 0 1px 3px 0 $bg-secondary;
  
  &__container {
    max-width: 768px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }


  &__toggle-img {
    width: 28px;
    height: 28px;
  }
  &__list {
    list-style: none;
    display: none;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: $text-color;
    background-color: $bg-primary;
  }
  &__list-links {
    display: block;
    padding: 0.75rem 0;
  }
  &__link {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
  }
}

/*Footer*/

a {
  text-decoration: none;
  color: black;
}
